spring.application.name=vlibrary

server.port=8080

spring.datasource.url=jdbc:postgresql://localhost:5432/vlibrary_db
spring.datasource.username=(Insert here your database username)
spring.datasource.password=(Insert here your database password)
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

app.jwt.secret=(Insert here your JWT secret password)

ADMIN_DEFAULT_PASSWORD=admin123 (Insert here your admin default password)

google.api.key=(Insert here your Google API key)